@model Software_Requirement_System.Models.Software_Task_Order_Labor_Cat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Software_Task_Order_Labor_Cat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Software_Task_Order.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Software_Task_Order.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborCategory)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
